#xlrd
logging
requests
pyxlsb
openpyxl
#py7zr
xlsxwriter
#python-docx
pandas
numpy

humanize
regex
xlrd

tqdm

# import zipfile
# import tarfile
# # import py7zr
# import argparse

# import warnings
# warnings.filterwarnings("ignore")